{% extends 'base.html' %}

{% block title %}Homepage {% endblock %}

{% block content %}
<h1>Hello {{ name }}, you are on the home page!</h1>

{% if display %}
<h2>This is being displayed</h2>
{% endif %}

{% for x in mylist %}
<h3>{{ x }}</h3>
{% endfor %}

<img src="{{ url_for('static', filename='books.jpg') }}" alt="">

{% for result in results %}
<h3>ID: {{ result.id }} Name: {{ result.name }} Location: {{ result.location }}</h3>
{% endfor %}

{% include 'include_this.html' %}
{% endblock %}
